
@font-face {
  font-family: "MyFont";
  src: url(../css/Josefin_Sans/JosefinSans-VariableFont_wght.ttf)
    format("truetype");
}



* {
  box-sizing: border-box;
}


.button-nav2 {
  border: 0.05rem solid;

  display: inline-block;
  text-align: center;
  padding: 0.5rem;
  color: white;
  margin-top: 1rem;
  margin-bottom: 0.5rem;

  background-color: rgb(124, 159, 137);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}


.button-nav2:hover,
.button-nav2:focus {
  border: 0.05rem solid;
  /* color: rgb(206, 168, 177); */
  color: white;
  background-color: rgb(49, 62, 54)
  /* background-color: rgb(255, 255, 255); */
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}


/* Style the container/contact section */
.container {
  background-color: #ffffff;
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  border: 1rem;
  margin-top: 5rem;
  margin-left: 20rem;
  padding: 1.4rem;
  width: 60%;

}

/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 90%;
    margin-top: 0;
  }
}