@font-face {
  font-family: "MyFont";
  src: url(../css/louis_george_caf/Louis\ George\ Cafe\ Bold.ttf)
    format("truetype");
}

.customfont {
  font-family: "MyFont";
}

body {
  font-family: "MyFont";
  background-color: rgb(209, 231, 188, 0.2);
  padding: 0rem;
  margin: 0rem;
}

.button-nav3 {
  display: inline-block;
  padding: 0.3rem;
  width: 7rem;
  text-align: center;
  margin-top: 1rem;
  color: white;
  background-color: rgb(124, 159, 137);
  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}

.button-nav3:hover,
.button-nav3:focus {
  border: 0.05rem solid;
  color: rgb(124, 159, 137);
  background-color: rgb(255, 255, 255);
}

.imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.imgs {
  width: 100%;
  height: auto;
}
.imgBox .flowerNav {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);

  font-size: 1.2em;
  border: none;
  cursor: pointer;
  text-align: center;
}

/* reference page  */
/* https://codepen.io/bitstarr/pen/XjaJGz */
.imgBox .arrow {
  position: absolute;
  bottom: 0rem;
  right: 50%;
  width: 40px;
  height: 40px;

  /**
   * Dark Arrow Down
   */
  /* background-image: url(https://upload.wikimedia.org/wikipedia/commons/5/56/Circle-icons-arrow-down.svg); */
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/f/f6/Antu_arrow-down.svg);
  
  
  background-size: contain;
}

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.imgMiddle{
  width:20%
}
.container_middle{
  display: flex;
  margin-top: 5em;
}
.container_middle img.imgMiddle{
  width: 100%;
  /* border:2px solid rgb(22, 15, 18); */
}
.container_middle>div:nth-of-type(1){
  width: 40%;
  margin-left: 8em;
  /* border:2px solid rgb(158, 32, 89); */

}
.container_middle>div:nth-of-type(2){
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  padding-left: 1em;
  /* border:2px solid rgb(32, 106, 158); */

}


.container_middle2{
  display: flex;
  margin-top: 5em;

}
.container_middle2 img.imgMiddle{
  width: 100%;
  /* border:2px solid rgb(22, 15, 18); */
}
.container_middle2>div:nth-of-type(1){
  width: 40%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
  margin-left: 4em;
  
  /* border:2px solid rgb(32, 106, 158); */

}
.container_middle2>div:nth-of-type(2){
  width: 40%;
  padding-left: 2em;
  /* border:2px solid rgb(158, 32, 89); */

}


