* {
    box-sizing: border-box;
    /* border:1px solid black; */
}

@font-face {
    font-family: "MyFont";
    src: url(../css/Josefin_Sans/JosefinSans-VariableFont_wght.ttf ) format('truetype');
}

body {
    font-family: "MyFont";
    background-color: rgb(198, 99, 112,15%);
    margin-bottom: 4rem;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 3em;
    border-top: 0.2em;
}
p{
    text-align: center;
}

.element {
    padding-bottom: .2rem;
    border-top-width: 0.15rem;
    border-top-style: solid;
    border-top-color: black;
}

.button-nav3 {
    display: inline-block;
    padding: 0.3rem;
    width: 7rem;
    text-align: center;
    margin-top: 1rem;
    color: white;
    background-color: rgb(124, 159, 137);
    text-decoration: none;
    transition-property: background-color;
    transition-duration: 0.5s;
}

.button-nav3:hover,.button-nav3:focus {
    /* border: 0.05rem solid; */
    border: 0rem solid;
    color: rgb(124, 159, 137);
    background-color: rgb(255, 255, 255);
}

#flowerNav {
    /* margin: .5em; */
    /* width: 8em; */
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    align-items: center;
    font-family: "MyFont";
}
@media screen and (max-width: 450px){
    #flowerNav {
        /* margin: 1em; */
        /* width: 8em; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 1rem;
        gap: 1rem;
        align-items: center;
        font-family: "MyFont";
    }
}
@media screen and (max-width: 900px){
    #flowerNav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
        align-items: center;
        font-family: "MyFont";
    }
}



#flowerNav a {
    display: block;
    width: 10em;
    padding: 0.4em;
    text-align: center;
    text-decoration: none;
    background-color: rgb(242, 216, 170);
    color: rgb(198, 99, 112);
}

#flowerNav a:hover,
a:focus {
    transition: 1.5s;
    background-color: rgb(255, 255, 255);
    color: rgb(198, 99, 112);
    /* border: 0.1em solid rgb(242, 216, 170); */
}

/* This code reference on W3schools*/
.container {
    position: relative;
    width:100%;
    padding: 1rem;
    transform:scale(0.9);
    transition: transform 1s;
}
/* Make the image to responsive */
.image {
    display: block;
    width: 100%;
    height: auto;
    transition: 2s;
} 


.image:hover{
    transform:scale(1.1);
    transition: transform 1s;
    width:100%;
} 


/* The overlay effect - lays on top of the container and over the image */
.overlay {
    position: absolute;
    bottom: -17px;
    /* left:px; */
    background: rgb(0, 0, 0, 0.5);
    width: 94%;
    transition: 1.5s ease;
    opacity: 0;
    color: white;
    font-size: 1rem;
    height: 3rem;
    padding: 0rem;
    text-align: center;
    transform:scale(0.9);
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
    opacity: 1;
    transform:scale(1.1);
}


.grid-container {
    display: grid;
    /* float: left; */
    grid-template-columns: repeat(4, 1fr);

    justify-content: space-between;
    padding: 1rem;
    gap: 2rem;
    grid-column: 0.5;

}

.grid-item {  
    padding: 0.8rem;
    text-align: center;

}
@media screen and (max-width: 900px) {
    .grid-container {
        display: grid;
        
        grid-template-columns: repeat(3, 1fr);
        padding: 1rem;
        gap: 2rem;
        grid-column: .5;
     

    }

    .grid-item {
        padding: 0.8rem;


    }

}
@media screen and (max-width: 780px) {
    .grid-container {
        display: grid;
        
        grid-template-columns: repeat(2, 1fr);
        padding: 1rem;
        gap: 2rem;
        grid-column: .5;
     

    }

    .grid-item {
        padding: 0.8rem;


    }

}
@media screen and (max-width: 450px) {
    .grid-container {
        display: grid;
        
        grid-template-columns: repeat(1, 1fr);
        padding: 1rem;
        gap: 2rem;
        grid-column: .5;
        
         


    }

    .grid-item {
        padding: 0.8rem;


    }

}
.container-Bottom {
    display: flex;
    justify-content:space-between;
    margin-top: 2em;
    padding:0em;
    background-color: rgb(188, 193, 190);
   
}
.container-Bottom>div:nth-of-type(1){
    display: flex;
    flex-direction: column;
    padding: 1.5em;
    font-size: 1.3em;
    line-height: 2em;
}

.container-Bottom>div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    /* padding: 1.5em; */
    font-size: 1.3em;
    line-height: 2em;
}
a {
    color: rgb(65, 156, 100);
    transition-property: color;
    text-decoration: none;
    transition-duration: 0.5s;
   }
  
   a:hover{
    color: rgb(32, 72, 35); 
    transition-property: color;
    text-decoration: none;
   }