/* header 框架 */
html {
  scroll-behavior: smooth;
}

.imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.Logoimage{
  position:fixed;
  /* position: absolute; */
  display: block;
  width:6%;
  height:auto;
  top: 4%;
  left: 8%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.flowerNav {
  display: flex;
  justify-content: center;
  margin-top: 3em;
}

.flowerNav a {
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(59, 69, 57);
  padding: 0rem 1.5rem;
}

.flowerNav a:hover,
a:focus {
  color: rgb(143, 162, 140);
}

/* 中部框架 */

/* body框架 */
body {
  font-family: "MyFont";
  background-color: rgb(209, 231, 188, 0.2);
  margin-bottom: 4rem;
  margin: 0%;
}

/* 底部框架 */
/* a font */
a {
  color: rgb(65, 156, 100);
  transition-property: color;
  text-decoration: none;
  transition-duration: 0.5s;
}

a:hover {
  color: rgb(32, 72, 35);
  transition-property: color;
  text-decoration: none;
}

a:focus {
  color: rgb(32, 72, 35);
}

/* About website page bottom */
.container-Bottom a {
  color: rgb(46, 98, 66);
  text-decoration: none;
}

.container-Bottom a:hover {
  color:rgb(31, 58, 42);
  transition-property: color;
}
.container-Bottom a:focus {
  color:rgb(31, 58, 42);
}
.container-Bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 2em;
  background-color: rgb(183, 200, 190,80%);
}
.container-Bottom > div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
}

.container-Bottom > div:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
}
