/* default settings */

* {
  box-sizing: border-box;
  /* border:1px solid black; */
}

.line{
  border-top: 0.5px solid rgb(241, 214, 214);
}

/* header 框架 */
html {
  scroll-behavior: smooth;
}

.imgBox {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
header{
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
  top: 0rem;
  background-color:rgb(252, 209, 224);

  display: flex;
  justify-content: center;
  padding-top: 1em;
  padding-bottom: 1em;

  display:flex;
  justify-content: center;
  /* max-width:2000px; */
  margin:auto;
}




.Logoimage{
  /* position:fixed; */
  position: absolute;
  display: block;
  width:10%;
  height:auto;
  top: 10%;
  left: 5%;
  transform: translate(-20%, -10%);
  -ms-transform: translate(-50%, -50%);
  z-index:999;
}

.flowerNav a {
  text-align: center;
  text-decoration: none;
  font-size: 1.2em;
  color: rgb(73, 85, 71);
  padding: 0rem 1.5rem;
}

.flowerNav a:hover,
a:focus {
  color: rgb(13, 48, 7);
  text-decoration:underline;
}

/* 中部框架 */

/* body框架 */
body {
  font-family: "MyFont";
  background-color: rgb(209, 231, 188, 0.2);
  /* margin-bottom: 4rem;
  margin: 0%; */
}

/* 底部框架 */
/* a font */
a {
  color: rgb(0, 0, 0);
  transition-property: color;
  text-decoration: none;
}

a:hover {
  color: rgb(0, 0, 0);
  transition-property: color;
  text-decoration: underline;
}

a:focus {
  color: rgb(32, 72, 35);
}


/* 暂时没用了 也是footer的 但是暂时无用 先留着 */
/* About website page bottom */
/* .container-Bottom a {
  color: rgb(53, 114, 77);
  text-decoration: none;
}

.container-Bottom a:hover {
  color:rgb(31, 58, 42);
  transition-property: color;
}
.container-Bottom a:focus {
  color:rgb(31, 58, 42);
}
.container-Bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 2em;
  background-color: rgb(183, 200, 190,80%);
}
.container-Bottom > div:nth-of-type(1) {
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
}
.container-Bottom > div:nth-of-type(2) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
}

.container-Bottom > div:nth-of-type(3) {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
} */

/* Footer css */
footer a{
  color: rgb(53, 87, 67);
  text-decoration: none;
}

footer a:hover{
  color:rgb(31, 58, 42);
  transition-property: color;
}

footer a:focus{
  color:rgb(38, 43, 42);
}

footer{
  display: flex;
  justify-content: space-evenly;

  margin-top: 2em;
  background-color: rgba(204, 212, 207, 0.8);
}

footer> section:nth-of-type(1) {
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
}

footer a{
  display:block;
}

footer> section:nth-of-type(2) {
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
}

footer> section:nth-of-type(3) {
  padding: 2.5rem;
  font-size: 1.3em;
  line-height: 2em;
}

@media screen and (max-width:800px) {
  footer a{
    color: rgb(53, 87, 67);
    text-decoration: none;
  }
  
  footer a:hover{
    color:rgb(31, 58, 42);
    transition-property: color;
  }
  
  footer a:focus{
    color:rgb(38, 43, 42);
  }
  
  footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
  
    margin-top: 2em;
    background-color: rgba(204, 212, 207, 0.8);
  }
  
  footer> section:nth-of-type(1) {
    padding: 2.5rem;
    font-size: 1.3em;
    line-height: 2em;
  }
  
  footer a{
    display:block;
  }
  
  footer> section:nth-of-type(2) {
    padding: 2.5rem;
    font-size: 1.3em;
    line-height: 2em;
  }
  
  footer> section:nth-of-type(3) {
    padding: 2.5rem;
    font-size: 1.3em;
    line-height: 2em;
  }
}

/* @media 的时候flex-direction: column; */
/* footer的flex dir 改column */


/* sub设置 4:19 11/4 */
.button-nav2 {
  border: 0.05rem solid;
  display: inline-block;
  display:flex;
  justify-content: center;
  padding: 0.5rem;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* background-color: rgb(31, 58, 42); */
  background-color: rgb(53, 114, 77);

  text-decoration: none;
  transition-property: background-color;
  transition-duration: 0.5s;
}


.button-nav2:hover {
  /* border: 0.05rem solid; */
  display: inline-block;
  display:flex;
  justify-content: center;
  padding: 0.5rem;
  color: white;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  /* background-color: rgb(53, 114, 77) */
  background-color: rgb(31, 58, 42);


}

/* input.lab[type="text"]:focus {
  border: 0.2em solid black;
  box-shadow: 0 0 0.3em 0.3em rgba(191, 183, 186, 0.5);
} */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}